*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.calculator-container {
height: 100vh;
    background-color: rgba(102, 51, 153, 0.189);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

input {
    padding: 13px 70px;
    margin: 4px 0px 19px;
    font-size: 20px;
}

.btn-count, .change-style-btn {
    padding: 13px 68px;
    background-color: #e6b56c;
    color: darkslategray;
    font-size: 22px;
    border: none;
    border-radius: 9px;
}
.change-style-btn {
    padding: 13px 18px;
    margin-top: 10px ;
}
#result {
    color: #2a4eb3;
    font-size: 50px;
    background-color: yellow;
    padding: 30px;
    margin: 30px;
    border-radius: 50%;
}
header {
    height: 70px;
}

#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    padding: 20px;
}


footer {

    background-color: #ffe4b7b4;
    height: 70px;
    color:  #2a4eb3;
    font-size: 22px;  
}

#footer-list {
    display: flex;
    justify-content:space-around;
    align-items: center;
}